body {
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 72px 72px;
    animation: Animate 10s infinite alternate;
    font-family: 'Open Sans', sans-serif;
  }
  
  .login {
    width: 400px;
    margin: 150px auto;
    font-size: 16px;
  }
  
  .login-header {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .login-header {
    background: rgb(6, 18, 27);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }
  
  .login-container {
    background: #e1e1e1;
    padding: 12px;
  }
  
  .login p {
    padding: 12px;
  }
  
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid gray;
    padding: 16px;
    outline: 0;
  }
  
 

  .login input[type="submit"] {
    background: rgb(6, 18, 27);
    font-size: large;
    color: #fff;
    cursor: pointer;
  }
  
  .login input[type="submit"]:hover {
    background: rgb(11, 33, 51);
  }
  


  @keyframes Animate{
      0%{
        background-position: left;
      }
      100%{
        background-position: right;
      }
  }