*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    position: relative;
}
.main .background img{
    width: 100%;
}
.text{
    position: absolute;
    top:20%;
    left:10%;
    font-size: 4rem;
    color:#fff;
}
.main .button{
    border: 5px solid #fff;
    padding: 1rem 4rem;
    cursor: pointer;
    text-transform: uppercase ;
    font-weight: 700;
    color: white;
    background: none;
    transition: .5s;
}
.main .button:hover{
    background: #fff;
    color: #000;
}
.main .active{
    background: #fff;
    color:#000;
}
.main .active:hover{
    background:none;
    color: #fff;
}
@media(max-width: 768px){
    .text{
        font-size: 2rem;
    }
    .main .button{
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }
}