@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
.header-line {
	width: 100%;
	padding: 10px 0px;
	background: #223140;
	color: #fafafa;
}
.container{
	max-width: 1150px;
	margin: auto;
}
.header-line .line{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-line .line .line-items{
	width: 50%;
	display: flex;
}
.menu{
	justify-content: flex-end;
}
.header-line .line .line-items img{	
	width: 126px;
}
.header-line .line .line-items ul li{
	display: inline-block;
	font-weight: 700;
	padding: 0 20px;
	cursor: pointer;
}

/* header-line ends */

.header{
	width: 100%;
	background-color: #00aca0;
	background-image: url('../image/background-image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 35vh;
}
.header .inner {
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}
.header .inner .taniltsuulga{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 35vh;
}
.header .inner .taniltsuulga .img {
	width: 20%
}
.header .inner .taniltsuulga .img img {
	width: 90%;
}
.header .inner .taniltsuulga .description{
	width: 80%;
	height: 280px;
}
.header .inner .taniltsuulga .description h2 {
	color: #e6e6e6;
	font-weight: 700;
}
.header .inner .taniltsuulga .description .category {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top:10px;
	align-items: center;
}
.header .inner .taniltsuulga .description .category .cat{
	width: 33%;
}
.header .inner .taniltsuulga .description .category .cat p{
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}
select{
	background-color: #00aca0;
	padding: 10px 20px;
	color:#fff;
	font-weight: 700;
	border-radius: 4px;
	border: none;
}
select:focus{
	outline: none;
}
.header .inner .taniltsuulga .short-story p{
	margin-top: 80px;
	font-size: 17px;
	color: #fff;
}
.main{
	height: 500px;
}
.main .container{
	width: 100%;
	height: 445px;
	display: flex;
	align-items: center;
	flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .container .info {
	width: 20%;
	height: 100%;
	padding-left: 10px;
}
.main .container .episodes{
	width: 40%;
	height: 100%;
	
}
.main .container .episodes_head{
	width: 100%;
	
	text-align: center;
	padding: 10px 0;
}
.main .container .episodes_body{
	width: 100%;
	height: 89%;
	
}
.main .container .character{
	width: 40%;
	height: 100%;
	
}
.main .container .character_head{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	
}
.main .container .character_body{
	width: 100%;
	height: 89%;
	
}
.main .container .info table tr td{
	height: 55px;
}

.main .container .episodes .episodes_body .episodess{
	padding: 10px;
	text-align: center;
}
.main .container .episodes .episodes_body .episodess:hover{
	background-color: gray;
}
.footer{
	width: 100%;
	background-color: #223140;
}
.footer .container{
	padding: 30px;
	background-color: #223140;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.footer .container .social{
	width: 33%;
	padding-top: 20px;
}
.footer .container .social img{
	width: 150px;
}
.footer .container .social .social_link{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 10px 0;
}
.footer .container .social .social_link img{
	width: 30px;
	margin: 5px;
}
.footer .container .col{
	width: 33%;
}
.footer .container .col ul li{
	color: #fafafa;
	text-decoration: none;
	margin: 20px;
	cursor: pointer;
	font-weight: 700;
	font-size: 17px;
	list-style-type: none;
}