@import './partials/header';
@import './partials/main';
@import './partials/footer';
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
.screen{
    margin: auto;
    display: flex;
    justify-content: center;
    img{
        margin-top: 20px;
        width: 50%;
    }
}

.container .slide{
    max-width: 950px;
    padding-top: 10px;
    margin: auto;
    z-index: 0;
}
@media(max-width: 824px){
    .container{
        max-width: 768px;
    }
    .header-line .topnav{
        .search{
            width: 45%;
        }
        .buttons{
            display: none;
        }
        .icon {
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            .dropdown{
                display: block;
                &:hover .dropdown-content {
                    display: block;
                }
            }
        }
    } 
    .footer{
        .social h6{
            font-size: 12px;
            text-align: center;
            i{
                font-size: 30px;
            }
        }
        .privacy p{
            font-size: 15px;
        }
    } 
    .email input[type=text]{
        width: 40% !important;
    }
}

@media(max-width: 426px){
    .container{
        width: 100%;
    }
    .header-line .container .topnav{
        padding: 20px 0;
        justify-content: space-between;
        a{
            margin: 0;
        }
        .icon{
            margin: 0;
            i{
                padding-bottom: 3px;
            }
        }
        .search{
            display: none;
        }
    }
    h2{
        font-size: 20px;
    }
    .container .cl-container{
        flex-direction: column;
        align-items: center;
        .cl .caption{
            margin-top: 10px;
            font-size: 13px;
        }
    }
     
    .menu-caption{
        h1{
            font-size: 25px;
        }
        h3{
            font-size: 18px;
        }
    } 
    .container .screen img{
        width: 100%;
    }

    .footer-text h3{
        font-size: 20px;
    }

    .footer{
        .social h6{
            font-size: 9px;
            i{
                font-size: 25px;
            }
        }
        .privacy p{
            font-size: 13px;
        }
    } 
    .email input[type=text]{
        width: 70% !important;
    }
}