.menu-caption{
    text-align: center;
    padding: 50px 0;
    h1{
        font-weight: 700;
    }
}

.container .box-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .box{
        width: 55%;
        margin: 15px;
        position: relative;
        overflow:  hidden;
        img{
            width: 100%;
            transition: .3s;
        }
        &:hover img{
            transform: scale(1.2);
        }
        .caption{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            transform: scaleY(0);
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            padding: 15px;
        }
        &:hover .caption{
            transform: scale(1);
            cursor: pointer;
        }
    }
}
.container .cl-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .cl{
        width: 55%;
        margin: 15px;
        overflow:  hidden;
        img{
            width: 95%;
            transition: .3s;
            cursor: pointer;
        }
        p{
            margin: 0;
            cursor: pointer;
        }
        h6{
            font-weight: 700;
            margin: 0;
            cursor: pointer;
        }
    }
}
