.box img{
	width: 100%;
}
.box{
	width: 300px;
	position: relative;
}
.box .inner-box{
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom:10%;
	color: white;
	text-align: center;
}