.container{
	width: 1000px; 
	margin: 30px;
	padding: 50px;
	border: 10px solid #000;
}
.container .box{
	width: 23%; 
	margin-right: 5px;
	display: inline-block;
	position: relative;
	border: 6px solid #000;
	height: 450px;
}
.container .box:last-child{
	margin-right: 0;
}
	